body{
    font-family: 'Times New Roman', Times, serif;
    background-color: lightcyan;
}

h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #CC0633;
}