body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightcyan;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 90pt;
    color: #CC0633;
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}